image: nginx
labels:
  - role=nginx
working_dir: /src
network_mode: host
expose:
  - '80'
restart: unless-stopped
cap_drop:
  - ALL
cap_add:
  - NET_BIND_SERVICE
  - SYS_NICE
  - CHOWN
  - DAC_OVERRIDE
  - SETGID
  - SETUID
volumes:
  - env-storage:/src/env
environment:
  - PROJECT=$COMPOSE_PROJECT_NAME
