:root {
  --background-body: #{$background-color};
  --text-main: #{$text-color};
  --text-bright: #{$dark-secondary-color};
  --selection: #{$selection-color};
  --links: #{$link-color};
  --highlight: #{$primary-color};
  --focus: #{$primary-color};
  --border: #{$primary-color};
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #{$dark-background-color};
    --text-main: #{$dark-text-color};
    --text-bright: #{$dark-secondary-color};
    --selection: #{$dark-selection-color};
    --links: #{$dark-link-color};
    --highlight: #{$dark-primary-color};
    --focus: #{$dark-primary-color};
    --border: #{$dark-primary-color};
  }
}
